{
    "Servers": {
        "1": {
            "Name": "IC Database",
            "Group": "IC DB Group",
            "Port": 5432,
            "Username": "{{ DB_USER }}",
            "Host": "{{ DB_HOST }}",
            "SSLMode": "prefer",
            "MaintenanceDB": "postgres"
        }
    }
}
